:root{
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --warn-grey:#757575;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --linear-gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--primary-font);
    font-size: 16px;
}

/* GLOBAL */
/* buttons*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--warm-black);
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 700;
}

/* HEADER */
.page-header{
    width: 100%;
    min-width: 320px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 16px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.page-header .header-logo{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}
.page-header .header-logo span{
    width: 40px;
    height: 24px;
    display: inline-block;
    background-image: url(../assets/icons/batata.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 8.5px;
    transform: scaleX(-1);
}
.page-header h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--just-white);
    margin: 36px 0 24px 0;
}
.page-header .header-descripcion{
    font-size: 1.4rem;
    color: var(--soft-orange);
    line-height: 18px;
    margin-bottom: 32px;
}
/* button-know */
.button-know{
    width: 229px;
    height: 48px;
    position: absolute;
    bottom: -48px;
    box-shadow: 0px 4px 8px 0px #59491E29;
    margin-bottom: 20px;
    background-color: var(--just-white);
}
.button-know span{
    display: inline;
    width: 14px;
    height: 8px;
    background-image: url(../assets/icons/down-arrow.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
}

/* EXCHANGE SECCION*/
.exchange-rate{
    width: 100%;
    min-width: 320px;
    background-color: var(--off-white);
    text-align: center;
    padding: 60px 15px;
}
.exchange-rate img{
    width: 195px;
    height: 195px;
}
.exchange-rate .exchange__title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    margin: 40px 0 24px 0;
}
.exchange-rate .exchange__description{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--warn-grey);
    margin-bottom: 48px;
}
.exchange-rate .table-title{
    font-size: 1.8rem;
    font-weight: 700;

}
.exchange-rate .table-title-orange{
    color: var(--bitcoin-orange);
}
.exchange-rate .table-title-blue{
    color: var(--secondary-blue);
}
/* table */
.table-component{
    width: 195px;
    font-family: var(--secondary-font);
    margin: 12px auto;
}
.table-component td{
    padding: 10px 12px;
    background-color: var(--just-white);
}
.table-component .right{
    color: #B5B0AC;
    font-size: 1.6rem;
}
.table-component .left{
    color: var(--warn-grey);
    font-size: 1.4rem;
}
.table-component .br-lt{
    border-radius: 8px 0px 0px 0px;
}
.table-component .br-rt{
    border-radius: 0px 8px 0px 0px;
}
.table-component .br-lb{
    border-radius: 0px 0px 0px 8px;
}
.table-component .br-rb{
    border-radius: 0px 0px 8px 0px;
}
.table-component td span{
    display: inline-block;
    margin-left: 10px;
    width: 13px;
    height: 10px;
    background-repeat: no-repeat;
}
span.trending-up{
    background-image: url(../assets/icons/trending-up.svg);
}
span.trending-down{
    background-image: url(../assets/icons/trending-down.svg);
}

/* alert */
.alert {
    width: 185px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    border-radius: 8px;
}
.alert span{
    font-weight: 700;
}
.alert-orange{
    background-color: var(--soft-orange);
    margin: 0 auto 20px auto; 
}
.alert-blue{
    background-color: var(--soft-blue);
    margin: 0 auto;
}

/* SECTION DESCRIPTION PRODUCT */
.description-product{
    width: 100%;
    min-width: 320px;
    position: relative;
    background-color: var(--warm-black);
    padding: 64px 15px;
    text-align: center;
}
.description-product .description-product__logo{
    width: 40px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: calc(50% - 20px);
    display: inline-block;
    background-image: url(../assets/icons/batata.svg);
    background-size: cover;
}
.description-product .description-product__title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--just-white);
}
.description-product .description-product__description{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--warn-grey);
    margin: 24px 0 32px 0;
}
/* benefit-card*/
.benefit-card{
    width: 288px;
    min-height: 152px;
    padding: 16px;
    background-color: var(--black);
    border-radius: 4px;
    margin-bottom: 16px;
}
.benefit-card:last-child{
    margin-bottom: 0;
}
.benefit-card .card-title p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--just-white);
    text-align: left;
    margin-top: 12px;
    margin-bottom: 10px;
}
.benefit-card .card-description{
    font-size: 1.4rem;
    text-align: left;
    font-weight: 500;
    color: #808080;
    line-height: 18px;
}
.benefit-card .icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.benefit-card .icon-clock{
    background-image: url(../assets/icons/clock.svg);
}
.benefit-card .icon-eye{
    background-image: url(../assets/icons/eye.svg);
}
.benefit-card .icon-money{
    background-image: url(../assets/icons/dollar-sign.svg);
}
.benefit-card .icon-check{
    background-image: url(../assets/icons/check-circle.svg);
}